<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/news.css" %}">
</head>
<body>
<h1> Movie news Information..Head_lines of today</h1><hr>
<ul>
    <li> {{news1}}   </li>
    <li> {{news2}}  </li>
    <li> {{news3}}   </li>
</ul>
</body>
</html>